body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  background-color: #f0f0f0;
}

/* Asegurarse de que el video esté oculto */
video {
  display: none;
}